html{
    background-color: #005883;
}
body{
    background-color:#005883;
    font-family: 'Franklin Gothic Book';
    font-size: 16px;
}
nav,.contenedor,footer{
    max-width:92%;
    margin: auto;
}
nav{
    background-color:#F0B429;
    font-family:'Franklin Gothic Book';
    height: 40px;
    box-sizing: inherit;
    margin-bottom:5px;
    text-align: center;
}
header{
    text-align: center;
    margin-bottom: 5px;       
}
.contenedor{
    background-color:#005883;
    text-align: center;
    

}
.central{
    background-color:#F0B429;
    display: inline-block;
    width: 69%;
    height: 100%;
    text-align: letf;       
}
footer{
    background-color:#F0B429;
    height: 60px;
    text-align: center;
    
}
aside{
    background-color:#005883;
    display: inline-block;
    width: 30%;
    text-align: center;
    
}
a {
    text-decoration:none;
}
nav a:active, nav a:hover{
    background-color: white;
}
nav a{
    margin-right: 20px;
}


