h1{
    margin-top: 35px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    color: white;
    font-size: 30px;
}
h3{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
h4{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
html{
    background-color: #005883;
}
body{
    background-color:#005883;
    font-family: 'Franklin Gothic Book';
    font-size: 16px;
}
header,.contenedor,footer{
    max-width:92%;
    margin: auto;
}
.contenedor{
    background-color:#005883;
    text-align: center;
}
.central{
    background-color:#F0B429;
    display: inline-block;
    width: 60%;
    height: 100%;
    text-align: left;       
}
header{
    height: 160px;
    margin-bottom: 3px;  
}
footer{
    background-color:#999999;
    height: 70px;
    text-align: center;
}
aside{
    background-color:#005883;
    display: inline-block;
    max-width: 30%;
    text-align: center;
    max-height: 10%;
}
a {
    text-decoration:none;
}
p{
    margin-left:5px;
}
.logo{
    text-align: left;
    position: absolute;
    top: 0;
}
.imagen{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 200px;
}
nav{
    width: 92%;
    margin: 40px auto;
    background-color: #F0B429;
    text-align:center ;
}
nav ul{
    list-style: none;  
}
.Menu > li{
    position: relative;
    display: inline-block;
}
.Menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    font-family: 'Lucida Sans';
    text-decoration: none;
}
.Menu li a:hover{
    color: teal;
    transition: all .3s;
}
/*subMenuMultimedia*/
.subMenu{
    position: absolute;
    background: #999999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;    
}
.subMenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Lucida Sans';
    text-decoration: none;
}
.Menu li:hover .subMenu{
    visibility: visible;
    opacity: 1;
}
@media (max-width: 840px) {
    .logo img{
        width: 50px;
        height: auto;
    }
    aside{
        display: inline;
        width: 100%;
    }
    aside img{
        width: 300px;
        height: 300px;
    }
    .central{
        width: 100%;
    }
    .imagen{
        width: 300px;
        height: 200px;
    }
  }